<div class="welcome-container">
  <div class="welcome-titles container">
    <div class="inner">
      <div class="app-title">
        {{title}}
      </div>
      <div class="app-sub-title">
        {{subtitle}}
      </div>

      <a routerLink="/home" class="enter-btn">
        <span>{{enterCaption}}</span>
        <svg width="13px" height="10px" viewBox="0 0 13 10">
          <path d="M1,5 L11,5"></path>
          <polyline points="8 1 12 5 8 9"></polyline>
        </svg>
      </a>
    </div>
  </div>

  <div class="welcome-footer container">
    <div class="inner">
      <div class="social-panel">
        <span *ngFor="let item of socialIcons" class="social-icon">
          test
        </span>
      </div>
      <div class="credentials">
        {{credentials}}
      </div>
    </div>
  </div>
</div>
