$desktop-toolbar-height: 120px;
$color-white: #FFFFFF;
$color-black: #000000;

.desktop-toolbar { 
  background: $color-white;
  color: $color-black;
  height: $desktop-toolbar-height;
  padding: 0;
}

.mobile-toolbar { 
  background: $color-white;
  color: $color-black;
  height: $desktop-toolbar-height / 2;
  padding: 0;
}

mat-sidenav { 
  width: 260px;
}

mat-sidenav-content.page-content {
  background: $color-white;
}

app-front-carousel {
  width: 100%;
}
