<mat-sidenav-container class="sidenav" (backdropClick)="close()">
  <mat-sidenav class="sidenav-menu content" #sidenav [opened]="opened" [mode]="changeSideNavMode()" disableClose>
    <mat-toolbar class="header-toolbar">
      <div class="menu-container">
        <button class="menu-icon close" *ngIf="!opened" mat-flat-button (click)="sidenav.toggle()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <app-menu-item></app-menu-item>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <mat-toolbar class="header-toolbar">
      <mat-toolbar-row>
        <div class="menu-container">
          <button class="menu-icon open" mat-flat-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>

        <div class="header-container">
          <span class="app-name">CookBook</span>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="page-content">
      <div [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
