.sidenav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-drawer-container {
  background: inherit;
  color: inherit;
}

.sidenav-menu {
  width: 200px;
  background: rgba(111, 160, 97, .9);
}

.menu-icon {
  border-radius: 0;
  background: inherit;

  mat-icon {
    font-size: 32px;
    width: 32px;
    height: 32px;
  }
}

.header-toolbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2020;
  background: rgba(93, 132, 82, 1);
  font-family: 'Segoe Script', sans-serif;
  font-size: 2rem;
}

.menu-icon,
.header-toolbar,
.content {
  color: #FFF;
}

.content-container {
  width: 100%;
  padding: 16px;
}
