.menu-group {
  h3 {
    font-weight: 800;
    letter-spacing: 2px;
    color: #DBC492;
    font-family: 'Lucida Calligraphy', sans-serif;
  }

  a.menu-link {
    color: #efefef;
    font-size: .9rem;
  }

  .mat-list-item {
    height: 40px;
  }

  mat-icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
  }

  a.list-item-active {
    color: #000;
    background-color: #DBC492;
  }
}
