/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$bg-success: #5d8452;
$bg-error: #845952;

.notification-success {
  background: $bg-success;
}

.notification-error {
  background: $bg-error;
}

body,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
}

router-outlet ~ * {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}
